*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a#principal-info{
    color: black;
    text-decoration: none;
    cursor: default;
}

i.fa-circle-info{
    font-size: 0.75rem;
    cursor: pointer;
}

.default-hide{
    display: none;
}

p.principal-meaning:hover{
    display: block;
}